/* MATRIX BACKGROUND */

#matrixCanvas{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:-1; /* keeps it behind the page */
}

/* General Styles */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}

/* Container above matrix */
.container {
    max-width: 450px;
    width: 100%;
    text-align: center;
    position: relative;
    z-index: 1;
}
